@page "/posts/lists/{PostId:int}"
@using System.Reflection
@using System.Security.Claims
@inject PostService postService

<PageTitle>글</PageTitle>
<h3>글 @PostId</h3>
<hr />

<div class="card shadow-sm border-0 mb-4" style="max-width:50%; min-width:500px;">
	<div class="card-body">
		<h3 class="card-title fw-bold mb-3">@pst.Title</h3>
		<div class="d-flex justify-content-between mb-4">
			<div>
				<span class="badge bg-secondary me-2">작성자</span>
				<span class="text-muted">@pst.Author</span>
			</div>
			@* <div> *@
			@* <span class="badge bg-light text-dark">작성일</span>  *@
			@* <span class="text-muted">@pst.CreatedAt.ToString("yyyy-MM-dd HH:mm")</span>  *@
			@* </div> *@
		</div>
		<div class="border rounded p-3 bg-light" style="min-height: 300px; white-space: pre-wrap;">
			@pst.Content
		</div>

	</div>
</div>
	<a class="btn btn-primary px-4 py-2" href="/posts/lists/update/@PostId">수정</a>
<hr />

<Comment PostId="@PostId" />

@code {
	[Parameter]
	public int PostId { get; set; }
	private PostCreateDto pst = new();
	protected override async Task OnInitializedAsync()
	{
		pst = await postService.GetPostByIdAsync(PostId);
	}
}
